BasicAuth only accepts ASCII alphabetic characters

tinyproxy version 1.10.0-r1 (from alpine)

if one uses a character outside ASCII alphabetic set as password, such as `!`:
```
BasicAuth user !pass
```
tinyproxy will complain:
```
Syntax error on line 16
Unable to parse config file. Not starting.
```
because `BasicAuth` is declared as it is:
```
#define ALNUM "([-a-z0-9._]+)"
...
STDCONF ("basicauth", ALNUM WS ALNUM, handle_basicauth),
```

I have skimmed [rfc 7617](https://tools.ietf.org/html/rfc7617), found the following rules:

> For the password, recipients MUST support all characters defined in the "OpaqueString" profile defined in Section 4.2 of [RFC7613].

> 4.2.1.  Preparation
>    An entity that prepares a string according to this profile MUST
>    ensure that the string consists only of Unicode code points that
>    conform to the FreeformClass base string class defined in [RFC7564].
>    In addition, the entity MUST encode the string as UTF-8 [RFC3629].

I guess tinyproxy should accept a wider range of characters in `BasicAuth`.

this is fixed in git.

@rofl0r by commit dc41b35? but the relevant code (IMHO) `STDCONF ("basicauth", ALNUM WS ALNUM, handle_basicauth),` leaves unchanged?

oh you're right. as you can see from the commit message this is not the first time i confused the 2...

ok i skimmed over the linked doc and i won't have time to read through that, nor implement it. instead i'll add a PR that allows the same set as the upstream statement.

^^^^^

(please test, thanks)

please see PR #230 