is it possible to support sha512 passwd in basicauth ?

OS: ubuntu 18.04 server
tinyproxy version: tinyproxy/1.10.0-git-27-g2e02dce

I want to enable user authenticate with sha512 passwd like "$6$P2JBcaFNb/N$Tf271XHfOpLj5TzsCs/Gwo14xBt.EqVsdfjskhlASs09783DAxauENE7xUxijpI4S.xAs2abofXEXD3Un7080aH1"

the password is generate by mkpasswd -m sha-512

but with that encrypt password , tinyproxy will not be able to start .
```
2020-01-20 14:16:23 [minion@hqs002 tinyproxy]$ sudo tinyproxy -d -c /etc/tinyproxy/tinyproxy.conf 
Syntax error on line 210
Unable to parse config file. Not starting.
2020-01-20 14:16:24 [minion@hqs002 tinyproxy]$ 
```
line 210 in tinyproxy.conf
```
BasicAuth username $6$P2JBcaFNb/N$Tf271XHfOpLj5TzsCs/Gwo14xBt.EqVsdfjskhlASs09783DAxauENE7xUxijpI4S.xAs2abofXEXD3Un7080aH1
```

is it possible to add sha-512 support ?


no, the specification is pretty clear about how BasicAuth works. there are other authentication methods, but from my initial cursory investigation i had the impression that they wouldn't be very practical to implement (as in: either too much effort or too little security), but i may be mistaken there.

>>there are other authentication methods 

I'm sorry , but like what ? I can't find any other authenticate method in document.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Authentication

```

    Basic (see RFC 7617, base64-encoded credentials. See below for more information.),
    Bearer (see RFC 6750, bearer tokens to access OAuth 2.0-protected resources),
    Digest (see RFC 7616, only md5 hashing is supported in Firefox, see bug 472823 for SHA encryption support),
    HOBA (see RFC 7486, Section 3, HTTP Origin-Bound Authentication, digital-signature-based),
    Mutual (see RFC 8120),

    AWS4-HMAC-SHA256 (see AWS docs).

```

+1
Passwords for BasicAuth in htpasswd can be stored in apr1 or ssha format.
It's supported by Apache, [Nginx](http://nginx.org/en/docs/http/ngx_http_auth_basic_module.html) and many other apps.
It woult be fine to get the same possibility in tinyproxy.